body {
  font-size: 14px;
}

@media (min-width: 1200px) {
  .app {
    width: 36vw;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-layout{
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #ffffff;

}

.card-title {
  background-color: #ffffff;
  font-size: 0.8rem;
}

.card-ranking {
  background-color: #f2f2f2;
  padding: 0.5rem 0.6rem;
  text-align: center;
  border-radius: 5%;
}

.card-right {
  padding: 15px;
}

.card-bottom{
  font-size:0.8rem;
}


h2 {
  font-weight: bold;
  font-size: 1.5rem;

}

.login {
  background-color: #ffffff !important;
  margin-top: 3rem;
  padding: 3rem 3rem;
}

.signup {
  background-color: #ffffff !important;
  margin-top: 3rem;
  padding: 3rem 3rem;
}

.comment-layout > .comment-layout{
  border-left: 1px solid black;
}

.comment-layout:last-child {
 padding-bottom: 0!important; 
}

.comment-username {
  font-size: 0.8rem;
  opacity: 0.8;
}

.comment-item {
  font-size: 0.8rem;
  opacity: 0.8;
}

.submit {
  height: 5rem;
  overflow: scroll !important;
}

.navbar {
  background-color: #ffffff !important;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0 20rem;
  }
}



h1 {
  color: #636363;
}

a,
a:hover {
  color: #636363;
}

body {
  background-color: #dae0e6;
}
